a {
  & {
    text-decoration: underline dotted 1px #666;
    text-underline-offset: 3px;
  }

  &:hover {
    text-decoration: underline solid 2px;
  }
}

.image-gallery {
  & {
    overflow: auto;
    margin-left: -1% !important;
  }

  li {
    & {
      float: left;
      display: block;
      margin: 0 0 1% 1%;
      width: 19%;
    }

    a {
      & {
        text-align: center;
        text-decoration: none !important;
        color: #777;
      }

      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
      }

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.site-header {
  border-top: none;
}

.site-footer {
  padding: 10px 0;
  text-align: center;
}
